html {
    font-size: 1em;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    background-color: #24243f;
}

header {
    padding-bottom: 6em;
    margin-bottom: 100px;
    text-align: center;
    background-color: #24243f;
}

h1 {
    margin-bottom: 0;
    color: #ffffff;
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.subtitle {
    margin-top: 0.5em;
    padding-bottom: 2.7em;
    font-size: 2.4em;
    color: #ffffff;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 1px;
}

.email {
    margin-bottom: 2em;
    padding: 1em;
    font-size: 1.2em;
}

h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Roboto Mono", monospace;
    letter-spacing: 5px;
}

h3 {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}

h4 {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
    margin: 2em 2em;
}

hr {
    height: 2px;
    width: 60vw;
    margin-bottom: 6em;
    border: 0;
    background-image: linear-gradient(to right, #46467a, #a2c1c1, #46467a);
}

a {
    cursor: pointer;
    text-decoration: none;
    margin: 0 0.2em;
}

.button {
    padding: 0.2em 0;
    display: inline-block;
    background-color: #a2c1c1;
    border: 3px solid #ffffff;
    color: #24243f;
    font-size: 1.4em;
    border-radius: 40px;
    cursor: pointer;
}

.button:hover {
    background-color: #d7e4e4;
    border: 3px solid #a2c1c1;
}

.button-icon {
    color: #24243f;
    padding-left: 0.4em;
}

.button-media {
    display: inline-block;
    padding: 0.4em;
    width: 1em;
    height: 1em;
    background-color: #a2c1c1;
    border: 3px solid #ffffff;
    border-radius: 50%;
}

.button-media:hover {
    background-color: #d7e4e4;
    border: 3px solid #a2c1c1;
}

.button-text {
    color: #24243f;
    padding-right: 0.6em;
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
}

.button-return {
    font-size: 2em;
    padding: 0.3em;
    width: 1em;
    height: 1em;
    background-color: #a2c1c1;
    color: #24243f;
    border-radius: 50%;
}

.divider-header {
    width: 0;
    height: 0;
    border-top: 100px solid #24243f;
    border-left: 100vw solid #46467a;
}

.divider-skills {
    width: 0;
    height: 0;
    border-top: 100px solid #46467a;
    border-right: 100vw solid #24243f;
}

.divider-projects {
    width: 0;
    height: 0;
    border-top: 100px solid #24243f;
    border-right: 100vw solid #46467a;
}

.text {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}

.copyright {
    margin-top: 3em;
    color: #5f8484;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}

footer {
    padding: 5em 0 1em 0;
    background-color: #24243f;
    text-align: center;
}

.skills {
    padding: 7em 0 9em 0;
    background-color: #46467a;
}

.skills h2 {
    text-align: center;
    margin-bottom: 1em;
}

.skills-content {
    display: flex;
    justify-content: center;
}

.projects {
    padding: 7em 0 10em 0;
    background-color: #46467a;
}

.projects h2 {
    margin-bottom: 1em;
    text-align: center;
}

.projects-cards {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.project-card {
    display: flex;
    justify-content: center;
    margin: 4em;
    padding: 0.3em;
    background-color: #24243f;
    border-radius: 25px;
    box-shadow: 5px 5px 15px #24243f;
}

.project-content {
    height: 100%;
    width: 100%;
}

.project-title {
    height: 10%;
}

.project-title h3 {
    color: #d7e4e4;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
}

.project-info {
    padding: 0 2em;
    height: 35%;
    line-height: 150%;
}

.project-techno {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-git {
    height: 15%;
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-version {
    height: 5%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.fab,
.fa-brands {
    color: #ffffff;
}

.fa-github,
.fa-github:hover,
.fa-linkedin-in,
.fa-linkedin-in:hover {
    color: #24243f;
}

.logo {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 107%;
    list-style-type: none;
    border-bottom: 3px solid #24243f;
}

.logo img {
    height: 38px;
    width: 38px;
}

@media screen and (max-width: 480px) { 

    .logo {
        display: none;
    }

    #drop-open{
        display: block;
        margin-left: 1em;
    }
    
    #drop-close {
        display: none;
        margin-left: 1em;

    }

    #nav-flag {
        display: none;
    }

    .nav-menu {
        display: none;
    }

    .nav-flag {
        display: none;
    }

    header {
        padding-top: 14em;
    }

    h1 {
        font-size: 2.5em;
    }

    .subtitle {
        font-size: 1.5em;
    }

    .skills-content i {
        margin: 0.3em 0.3em;
    }
    
    .skills-content .fa-4x {
        padding: 0.5em 0.7em;
        font-size: 3em;
    }

    .skills-content .fa-6x {
        padding: 0;
        font-size: 4em;
    }

    .project-card {
        margin: 2.5em;
        padding: 0.3em;
        width: 300px;
        height: 300px;
    }

    .project-techno i {
        margin: 0;
        padding: 0 0.2em;
    }

    .project-button {
        font-size: 1em;
        margin: 0 0.2em;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) { 

    .logo {
        display: none;
    }

    #drop-open{
        display: block;
        margin-left: 1em;
    }
    
    #drop-close {
        display: none;
        margin-left: 1em;

    }

    .nav-menu {
        display: none;
    }

    .nav-flag {
        display: none;
        margin-left: 0.5em;
    }

    #nav-flag {
        display: none;
    }

    header {
        padding-top: 15em;
    }

    h1 {
        font-size: 3em;
    }

    .subtitle {
        font-size: 2em;
    }

    .skills-content i {
        margin: 0.5em auto;
    }
    
    .skills-content .fa-4x {
        padding: 0.5em;
        font-size: 3.5em;
    }

    .skills-content .fa-6x {
        padding: 0;
        font-size: 4.5em;
    }

    .project-card {
        margin: 3.5em;
        padding: 0.3em;
        width: 330px;
        height: 330px;
    }

    .project-info {
        font-size: 1.3em;
    }

    .project-techno i {
        margin: 0;
        padding: 0 0.2em;
    }

    .project-button {
        font-size: 1.3em;
        margin: 0 0.2em;
    }
}

@media screen and (min-width: 769px) { 

    .logo {
        position: relative;
        margin-top: 0.5em;
        padding-left: 0.5em;
    }

    .nav-flag {
        position: relative;
        margin-top: 0.7em;
        padding-right: 0.9em;
    }

    #dropdown {
        display: none;
    }

    .nav-flag li {
        display: none;
    }

    .dropdown {
        display: none;
    }

    .nav-menu {
        position: relative;
        display: inline-flex;
        justify-content: center;
    }

    header {
        padding-top: 16em;
    }

    h1 {
        font-size: 3.2em;
    }

    .subtitle {
        font-size: 2.2em;
    }

    .skills-content i {
        margin: 0.7em 1em;
    }
    
    .skills-content .fa-4x {
        padding: 0.5em 1em;
        font-size: 4em;
    }

    .skills-content .fa-6x {
        padding: 0;
        font-size: 5em;
    }

    .project-card {
        margin: 3.5em;
        padding: 0.3em;
        width: 330px;
        height: 330px;
    }

    .project-info {
        font-size: 1.2em;
    }

    .project-techno i {
        margin: 0;
        padding: 0 0.4em;
    }

    .project-button {
        font-size: 1.4em;
        margin: 0 0.3em;
    }
}

#dropFlagEN,
#dropFlagFR {
    padding-right: 1.5em;
}

.dropdown {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0.5em 0;
    width: 100vw;
}

.dropdown-menu {
    position: sticky;
    display: flex;
    justify-content: end;
    width: 100%;
}

.dropdown-menu a {
    color: #ffffff;
    margin-right: 1em;

}

.dropdown-link {
    justify-content: center;
    display: none;
    color: #ffffff;
    width: 100%;
}

#drop_separator {
    height: 2px;
    width: 100vw;
    margin-bottom: 0;
    display: none;
}

nav {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    background-color: #24243f;
    box-shadow: 0 3px 20px 0 #24243f;
}

.nav-menu {
    margin: 0;
    list-style-type: none;
}

.nav-menu li {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #24243f;
    margin: 0.2em 0.3em;
}

.nav-menu li:hover {
    transition: 0.1s;
    border-bottom: solid 3px #a2c1c1;
}

.nav-menu a {
    display: inline-block;
    padding: 0.8em 0.6em;
    font-size: 1em;
    text-decoration: none;
}

.nav-flag li {
    cursor: pointer;
    font-size: 0.9em;
    text-decoration: none;
}

.nav-flag {
    justify-content: end;
    display: flex;
    color: #ffffff;
    margin: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
    list-style-type: none;
}

.nav-flag div {
    display: flex;
    align-items: center;
}

.nav-active {
    transition: 0.1s;
    border-bottom: solid 3px #a2c1c1 !important;
}
