@media screen and (max-width: 480px) { 

    .logo {
        display: none;
    }

    #drop-open{
        display: block;
        margin-left: 1em;
    }
    
    #drop-close {
        display: none;
        margin-left: 1em;

    }

    #nav-flag {
        display: none;
    }

    .nav-menu {
        display: none;
    }

    .nav-flag {
        display: none;
    }

    header {
        padding-top: 14em;
    }

    h1 {
        font-size: 2.5em;
    }

    .subtitle {
        font-size: 1.5em;
    }

    .skills-content i {
        margin: 0.3em 0.3em;
    }
    
    .skills-content .fa-4x {
        padding: 0.5em 0.7em;
        font-size: 3em;
    }

    .skills-content .fa-6x {
        padding: 0;
        font-size: 4em;
    }

    .project-card {
        margin: 2.5em;
        padding: 0.3em;
        width: 300px;
        height: 300px;
    }

    .project-techno i {
        margin: 0;
        padding: 0 0.2em;
    }

    .project-button {
        font-size: 1em;
        margin: 0 0.2em;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) { 

    .logo {
        display: none;
    }

    #drop-open{
        display: block;
        margin-left: 1em;
    }
    
    #drop-close {
        display: none;
        margin-left: 1em;

    }

    .nav-menu {
        display: none;
    }

    .nav-flag {
        display: none;
        margin-left: 0.5em;
    }

    #nav-flag {
        display: none;
    }

    header {
        padding-top: 15em;
    }

    h1 {
        font-size: 3em;
    }

    .subtitle {
        font-size: 2em;
    }

    .skills-content i {
        margin: 0.5em auto;
    }
    
    .skills-content .fa-4x {
        padding: 0.5em;
        font-size: 3.5em;
    }

    .skills-content .fa-6x {
        padding: 0;
        font-size: 4.5em;
    }

    .project-card {
        margin: 3.5em;
        padding: 0.3em;
        width: 330px;
        height: 330px;
    }

    .project-info {
        font-size: 1.3em;
    }

    .project-techno i {
        margin: 0;
        padding: 0 0.2em;
    }

    .project-button {
        font-size: 1.3em;
        margin: 0 0.2em;
    }
}

@media screen and (min-width: 769px) { 

    .logo {
        position: relative;
        margin-top: 0.5em;
        padding-left: 0.5em;
    }

    .nav-flag {
        position: relative;
        margin-top: 0.7em;
        padding-right: 0.9em;
    }

    #dropdown {
        display: none;
    }

    .nav-flag li {
        display: none;
    }

    .dropdown {
        display: none;
    }

    .nav-menu {
        position: relative;
        display: inline-flex;
        justify-content: center;
    }

    header {
        padding-top: 16em;
    }

    h1 {
        font-size: 3.2em;
    }

    .subtitle {
        font-size: 2.2em;
    }

    .skills-content i {
        margin: 0.7em 1em;
    }
    
    .skills-content .fa-4x {
        padding: 0.5em 1em;
        font-size: 4em;
    }

    .skills-content .fa-6x {
        padding: 0;
        font-size: 5em;
    }

    .project-card {
        margin: 3.5em;
        padding: 0.3em;
        width: 330px;
        height: 330px;
    }

    .project-info {
        font-size: 1.2em;
    }

    .project-techno i {
        margin: 0;
        padding: 0 0.4em;
    }

    .project-button {
        font-size: 1.4em;
        margin: 0 0.3em;
    }
}
